<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large black modal-trigger tooltipped" data-position="left" data-tooltip="Contact Us" href="#contact">
    <i class="large material-icons">message</i>
  </a>
</div>

{% include contact-formspree.html %}
  
  <!--
  <ul>
    {% if page.title == 'Home' %}
    {% for file in site.data.Testing-Downloads %}
            {% if file.page == 'Home' %}
    <li>
      <a href="{{ file.url }}" class="btn-floating tooltipped" data-position="left" data-tooltip="{{ file.name }}">
        <i class="material-icons">insert_drive_file</i>
      </a>
    </li>
    {% endif %}
    {% endfor%}
    {% endif %}

    
    {% if page.title == 'Programs' %}
    {% for file in site.data.Testing-Downloads %}
            {% if file.page == 'Programs' %}
    <li>      
      <a href="{{ file.url }}" class="btn-floating tooltipped" data-position="left" data-tooltip="{{ file.name }}">
        <i class="material-icons">insert_drive_file</i>
      </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
    
    {% if page.title == 'Links' %}
    {% for file in site.data.Testing-Downloads %}
            {% if file.page == 'Links' %}
    <li>      
      <a href="{{ file.url }}" class="btn-floating tooltipped" data-position="left" data-tooltip="{{ file.name }}">
        <i class="material-icons">insert_drive_file</i>
      </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
    
  </ul>
</div>
-->
<!-- END fixed-action-button include -->