{% for include in page.includes %}
{% if include == "committee_members" %}

{% assign current_board_members = site.data.Page_Data_-_Board_Members | where: "service", "current" %}

<ul class="collection with-header hoverable">
  <li class="collection-header">
    <h5>Committee Members</h5>
  </li>
  
  {% for data in current_board_members %}
  {% for collection in site.board_members %}
  {% if data.name == collection.title and data.committee == page.title %}
  <a class="collection-item avatar waves-effect waves-teal" href="{{ collection.url | prepend: site.baseurl }}">
    
    {% if data.photo_path != null %}
    <img src="{{ site.baseurl }}/assets/img/board_members/{{ data.photo_path }}" alt="{{ data.photo_path }}" class="circle">
    
    {% else %}
    <img src="{{ site.default_photo_path | prepend: site.baseurl }}" alt="{{ site.default_photo_path | prepend: site.baseurl }}" class="circle">
    
    {% endif %}   
    <strong class="title truncate">{{ data.name }}</strong>
    {% if data.president != null %}
    <span class="light truncate">{{ data.president }}&ensp;|&ensp;President</span>
    {% endif %}

    {% if data.president-elect != null %}
    <span class="light truncate">{{ data.president-elect }}&ensp;|&ensp;President Elect</span>
    {% endif %}

    {% if data.past-president != null %}
    <span class="light truncate">{{ data.past-president }}&ensp;|&ensp;Past President</span>
    {% endif %}

    {% if data.secretary != null %}
    <span class="light truncate">{{ data.secretary }}&ensp;|&ensp;Secretary</span>
    {% endif %}

    {% if data.treasurer != null %}
    <span class="light truncate">{{ data.treasurer }}&ensp;|&ensp;Treasurer</span>
    {% endif %}
    
    <span class="light truncate">{{ data.term }}&ensp;|&ensp;{{ data.committee }}</span>
  </a>
  <!-- new block -->
  {% elsif data.name == collection.title and page.title == "Executive" and data.executive-committee == "TRUE" %}
  <a class="collection-item avatar waves-effect waves-teal" href="{{ collection.url | prepend: site.baseurl }}">
    
    {% if data.photo_path != null %}
    <img src="{{ site.baseurl }}/assets/img/board_members/{{ data.photo_path }}" alt="{{ data.photo_path }}" class="circle">
    
    {% else %}
    <img src="{{ site.default_photo_path | prepend: site.baseurl }}" alt="{{ site.default_photo_path | prepend: site.baseurl }}" class="circle">
    
    {% endif %}   
    <strong class="title truncate">{{ data.name }}</strong>
      {% if data.president != null %}
      <span class="light truncate">{{ data.president }}&ensp;|&ensp;President</span>
      {% endif %}

      {% if data.president-elect != null %}
      <span class="light truncate">{{ data.president-elect }}&ensp;|&ensp;President Elect</span>
      {% endif %}

      {% if data.past-president != null %}
      <span class="light truncate">{{ data.past-president }}&ensp;|&ensp;Past President</span>
      {% endif %}

      {% if data.secretary != null %}
      <span class="light truncate">{{ data.secretary }}&ensp;|&ensp;Secretary</span>
      {% endif %}

      {% if data.treasurer != null %}
      <span class="light truncate">{{ data.treasurer }}&ensp;|&ensp;Treasurer</span>
      {% endif %}
    
      <span class="light truncate">{{ data.term }}&ensp;|&ensp;{{ data.committee }}</span>
  </a>
  <!-- new block -->
  {% endif %}
  {% endfor %}  
  {% endfor %}
</ul>

{% endif %}
{% endfor %}
<!-- END list-committe_members include -->