{% for include in page.includes %}
{% if include == "events" %}
<ul class="collection with-header hoverable">
  <li class="collection-header">
    <h5>Events</h5>
  </li>
  
  {% for data in site.data.Page_Data_-_Rendezvous limit: 2 %}
  {% for collection in site.events %}
  {% if data.year == collection.year %}
  <a class="collection-item avatar waves-effect waves-teal" href="{{ collection.url | prepend: site.baseurl }}">
    <i class="left material-icons circle teal">event</i>
    <strong class="title truncate">{{ collection.title }}</strong>
    <span class="light">{{ data.theme }}</span>
  </a>
  
  {% endif %}
  {% endfor %}
  {% endfor %}
  <a class="collection-item waves-effect waves-teal">past events... coming soon!</a>
</ul>

{% endif %}
{% endfor %}
<!-- END list-events include -->