<form class="col s12" action="//caepa.us6.list-manage.com/subscribe/post?u=ef793a4f17661be843b30ff51&amp;id=7377e46553" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  
  <div class="row mc-field-group input-group">
    <div class="input-field col s4">
      <input checked="checked" type="checkbox" value="1" name="group[14905][1]" id="mce-group[14905]-14905-0">
      <label for="mce-group[14905]-14905-0">Monthly Newsletter</label>
    </div>
    <div class="input-field col s4">
      <input checked="checked" type="checkbox" value="2" name="group[14905][2]" id="mce-group[14905]-14905-1">
      <label for="mce-group[14905]-14905-1">Weekly Updates</label>
    </div>
    <div class="input-field col s4">
      <input checked="checked" type="checkbox" value="4" name="group[14905][4]" id="mce-group[14905]-14905-2">
      <label for="mce-group[14905]-14905-2">Advocacy Alerts</label>
    </div>
  </div>
  
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--><div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ef793a4f17661be843b30ff51_7377e46553" tabindex="-1" value=""></div>

  <div class="row">
    <div class="input-field col s12 m8 mc-field-group">
      <input type="email" value="" name="EMAIL" class="required email validate" id="mce-EMAIL">
      <label for="mce-EMAIL">Email</label>
    </div>
    <div class="input-field col s12 m4">
      <button class="btn waves-effect waves-dark" style="height: 3rem; width: 100%;" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" >Subscribe
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
  <div id="row mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>
</form>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='ZIP';ftypes[4]='zip';fnames[9]='ORG';ftypes[9]='text';fnames[8]='PHONE';ftypes[8]='text';fnames[5]='MMERGE5';ftypes[5]='address';fnames[7]='MMERGE7';ftypes[7]='text';fnames[6]='STATE';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!-- END mailchimp include -->