<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper">
      <a class="brand-logo" href="{{ site.baseurl | prepend: site.url }}" id="logo-container">
        <img class="left" alt="Logo" src="{{ site.baseurl }}/assets/img/{{ site.logo }}" />
        <strong>&ensp;{{ site.title }}</strong>
      </a>
      <!-- navigation -->
      <ul class="right hide-on-med-and-down">
        
        {% assign pages = site.pages | sort: "menu_sort" %}
        {% for nav in pages %}
        {% if nav.menu == true and nav.url == page.url %}
        <li class="active">
          <a class="waves-effect waves-dark" href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}">
            <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ nav.title }}">{{ nav.icon }}</i>
          </a>
        </li>
        
        {% elsif nav.menu == true %}
        <li>
          <a class="waves-effect waves-dark" href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}">
            <i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="{{ nav.title }}">{{ nav.icon }}</i>
          </a>
        </li>
        
        {% endif %}
        {% endfor %}
        <!-- committees menu dropdown -->
        <li>
          <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown-more">
            <i class="material-icons">more_vert</i>
          </a>
        </li>
        <ul id="dropdown-more" class="dropdown-content">
          
          {% for nav in site.committees %}
          {% if nav.sub_menu == true and nav.url == page.url %}
          <li class="divider"></li>
          <li class="active">
            <a class="waves-effect waves-dark" href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}">{{ nav.title }}</a>
          </li>
          
          {% elsif nav.sub_menu == true %}
          <li class="divider"></li>
          <li>
            <a class="waves-effect waves-dark" href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}">{{ nav.title }}</a>
          </li>
          
          {% endif %}
          {% endfor %}
        </ul>
      </ul>
      <!-- END navigation -->
      
      <!-- mobile navigation -->
      <ul class="side-nav" id="nav-mobile">
        <li>
          <a href="#!" id="logo-container">
            <img class="left" alt="Logo" src="{{ site.baseurl }}/assets/img/{{ site.logo }}" />
            <i class="material-icons right">close</i>
            <strong>&ensp;{{ site.title }}</strong>
          </a>
        </li>
        <li class="divider"></li>
        
        {% assign pages = site.pages | sort: "menu_sort" %}
        {% for nav in pages %}
        {% if nav.menu == true and nav.url == page.url %}
        <li class="active">
          <a class="waves-effect waves-dark" href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}"><i class="material-icons left">{{ nav.icon }}</i>{{ nav.title }}
          </a>
        </li>
        
        {% elsif nav.menu == true %}
        <li>
          <a class="waves-effect waves-dark" href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}"><i class="material-icons left">{{ nav.icon }}</i>{{ nav.title }}
          </a>
        </li>
        
        {% endif %}
        {% endfor %}
        
        <li class="divider"></li>        
        <!-- committees menu -->
        
        {% for nav in site.committees %}
        {% if nav.sub_menu == true and nav.url == page.url %}
        <li class="active">
          <a class="waves-effect waves-dark" href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}"><i class="material-icons left">{{ nav.icon }}</i>{{ nav.title }}</a>
        </li>
        
        {% elsif nav.sub_menu == true  %}
        <li>
          <a class="waves-effect waves-dark" href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}"><i class="material-icons left">{{ nav.icon }}</i>{{ nav.title }}</a>
        </li>
        
        {% endif %}
        {% endfor %}
      </ul><!-- END Navigation Mobile -->
      
      <a class="button-collapse waves-effect waves-dark" data-activates="nav-mobile" href="#"><i class="material-icons">menu</i></a>
    
    </div>
  </nav>
</div>
<!-- END navbar-test include -->